#nav-section {
    font-size: 14px;
}

#top-nav i {
    color: #01579b;
}

#main-nav {
    background-color: #01579b;
    opacity: 0.85;
}

#main-nav * {
    color: #bdbdbd;
    transition: all 0.5s ease;
}

#main-nav a:hover {
    color: white !important;
    text-decoration: none;
}

#main-icon {
    font-size: 25px; 
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 70%;
}
