<footer id="footer-secondary" class="py-2">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <span>Copyright &copy 2019 AF Real Estate</span>
            </div>
        </div>
    </div>
</footer>