<nav id="nav-section">
<div class="container" id="top-nav">
    <div class="row">
        <div class="col">
            <ul class="nav justify-content-between align-items-center py-3">
                <li class="nav-item">
                    <span>
                        <i class="fas fa-phone pr-1"></i> (333) 333-3333
                    </span>
                </li>
                <li class="nav-item">
                    <span>
                        <i class="fas fa-envelope-open px-1"></i>
                        <a href="mailto:contact@afrealestate.info">contact@afrealestate.info</a>
                    </span>
                </li>
                <li class="nav-item">
                    <span>
                        <i class="fab fa-twitter px-1"></i>
                        <i class="fab fa-facebook px-1"></i>
                        <i class="fab fa-linkedin px-1"></i>
                        <i class="fab fa-instagram px-1"></i>
                        <i class="fab fa-pinterest pl-1"></i>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="main-nav">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav d-flex justify-content-between align-items-center py-3">
                    <li class="nav-item d-flex justify-content-between align-items-center">
                        <span class="d-flex align-items-center">
                            <i id="main-icon" class="fas fa-home fa-large"></i>
                            <a href="/" class="px-3">HOME</a>
                        </span>
                        <span>
                            <a href="/about" class="px-3">ABOUT</a>
                        </span>
                        <span>
                            <a href="/featured" class="px-3">FEATURED LISTINGS</a>
                        </span>
                    </li>
                    <li class="nav-item d-flex justify-content-around align-items-center">
                        <span class="px-3">
                            <a href="/register">
                                <i class="fas fa-user-plus px-1"></i>REGISTER
                            </a>
                        </span>
                        <span>
                            <a href="/login">
                                <i class="fas fa-sign-in-alt px-1"></i>LOGIN
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</nav>